---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Dimas Arya Sadewa | Portfolio",
  description = "Portfolio of Dimas Arya Sadewa, a Business Information Systems student passionate about web development.",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/icons/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-black text-white font-sans">
    <slot />
  </body>
</html>
