<section
  id="home"
  class="flex flex-col md:flex-row items-center justify-between gap-16 px-12 md:px-[120px] py-20 bg-black text-white"
>
  <!-- Bagian Kiri: Teks -->
  <div class="max-w-lg text-left">
    <h2 class="text-3xl md:text-4xl italic font-semibold mb-4">
      Hi, <span class="text-purple-400">I'm Dimas Arya Sadewa</span>
    </h2>

    <p class="text-gray-300 leading-relaxed text-base md:text-lg">
      I'm a Business Information Systems student at the State Polytechnic of
      Malang, passionate about combining technology, creativity, and analytical
      thinking. My focus lies in developing modern, responsive websites with a
      clean interface and functional design.
    </p>

    <div class="flex gap-5 mt-6">
  <a
  href="#"
  class="border border-gray-600 rounded-xl p-3 hover:bg-gray-800 hover:border-purple-400 transition"
>
  <img src="/icons/github.png" alt="GitHub" class="w-7 h-7" />
</a>

    <a
  href="#"
  class="border border-gray-600 rounded-xl p-3 hover:bg-gray-800 hover:border-purple-400 transition"
>
  <img src="/icons/Linkedin.png" alt="Linkedin" class="w-7 h-7" />
</a>

     <a
  href="#"
  class="border border-gray-600 rounded-xl p-3 hover:bg-gray-800 hover:border-purple-400 transition"
>
  <img src="/icons/Gmail.png" alt="Gmail" class="w-7 h-7" />
</a>
<a
  href="#"
  class="border border-gray-600 rounded-xl p-3 hover:bg-gray-800 hover:border-purple-400 transition"
>
  <img src="/icons/Instagram.png" alt="Instagram" class="w-7 h-7" />
</a>

    </div>
  </div>

  <!-- Bagian Kanan: Gambar -->
 <div class="relative group transition-all duration-500 ease-in-out translate-y-10 md:translate-y-19">
  <!-- Glow belakang -->
  <div
    class="absolute inset-0 rounded-2xl bg-purple-500/20 blur-xl opacity-0 group-hover:opacity-100 transition-opacity duration-500">
  </div>

  <!-- Foto utama -->
  <img
    src="/images/profile.png"
    alt="Dimas Arya"
    class="relative z-10 w-[340px] md:w-[400px] rounded-2xl border border-purple-400/30
           shadow-[0_0_20px_rgba(168,85,247,0.25)] group-hover:shadow-[0_0_35px_rgba(168,85,247,0.6)]
           group-hover:scale-[1.03] transition-all duration-500 ease-in-out" />
</div>

</section>
